//-----------------------------------------------------------------------------
// src/scss/globals.scss
//-----------------------------------------------------------------------------

$font-family-sans-serif:  "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

$white:                 #ffffff !default;
$gray-100:              #f8f9fa !default;
$gray-200:              #e9ecef !default;
$gray-300:              #dee2e6 !default;
$gray-400:              #ced4da !default;
$gray-500:              #adb5bd !default;
$gray-600:              #868e96 !default;
$gray-700:              #495057 !default;
$gray-800:              #343a40 !default;
$gray-900:              #212529 !default;
$black:                 #000000 !default;

$linkedin-blue:         #0077B5;
$linkedin-black:        #000000;
$linkedin-white:        #ffffff;

$github-blue:           #4078c0;

$sfo-orange:            #ff6113;